.MuiInputBase-root,
.MuiSvgIcon-root {
    color: $soft-text;
}

.MuiFormLabel-root {
    color: $soft-text;

    &.Mui-focused {
        color: $tertiary;
    }
}

.MuiAutocomplete-popper .MuiPaper-root {
    background-color: $primary-darken-5;
}
