.header-wrap {
    display: flex;
    padding-top: 4px;
    padding-bottom: 0px;

    .logo-wrap {
        width: 45px;
        cursor: pointer;
    }

    .header-column {
        display: flex;
        align-items: center;
    }

    .menu-wrap {
        justify-content: right;
        flex: 1;
    }

    .icon-button {
        svg {
            font-size: 2rem;
            cursor: pointer;
            color: $white;
        }
    }
}
