.master-infos {
    padding: 0.5rem 0;

    .title {
        text-align: center;
    }

    td {
        width: 100%;
    }

    .label {
        font-size: 0.9rem;
    }

    .value {
        font-size: 1rem;
        text-align: right;
        white-space: nowrap;
    }

    .button {
        margin-top: 0.5rem;
    }
}

.opentrade-details {
    .row {
        border-bottom: 1px dotted $primary-bright;

        &:last-child {
            border-bottom: none;
        }
    }
}
