.stats-cards {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    gap: 1.5rem;
    padding-bottom: 0.7rem;
    margin-top: 1rem;
    box-shadow: 0 0 37px #181a1c;

    @media screen and (min-width: $sm) {
        overflow-x: auto;
        padding-bottom: 0;
    }
    
    &.smaller {
        .card {
            min-height: auto;
        }
    }

    .card-grad {
        min-height: 8rem;
        min-width: 47%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        box-shadow: none;

        @media screen and (min-width: $md) {
            min-width: 33%;
        }

        @media screen and (min-width: $l) {
            min-width: auto;
            flex: 1;
        }

        &:nth-child(2),
        &:nth-child(4) {
            background: $grad-card-result-alt;
        }

        .value {
            font-size: 2.3rem;
            font-weight: 700;
        }
    }
}
