.suggestions-select {
    flex-wrap: wrap;

    .suggestions-select-list {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin: 2rem 0 0 0;
    }
}

.click-wrapper {
    width: 100%;
}
