table {
    width: 100%;
    margin-bottom: 15px;
}

table tr {
    background-color: #f3f3f3;
}
table tr td{
    padding: 5px;
}

form {
    padding: 15px;
}

select {
    max-width: 300px;
}

details {
    padding: 10px;
}

summary {
    cursor: pointer;
    user-select: none;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
}

summary.master{
    background-color: #424e54;
    color: white;
}

summary.bot{
    background-color: #a7c1bd;
}

.open-trade {
    background-color: #ad6;
}

[chart-id] {
    background-color: #f9f9f9;
}
