.buttons-wrap {
    text-align: center;
    margin-top: 10px;

    .MuiButtonBase-root {
        width: 100%;
        background-color: $primary;

        &:hover {
            background-color: lighten($color: $primary, $amount: 10);
        }

        &.MuiLoadingButton-loading {
            background-color: lighten($color: $primary, $amount: 10);
        }

        .MuiCircularProgress-svg {
            background-color: lighten($color: $primary, $amount: 10);
        }
    }
}

.wrap-btn-flex {
    display: flex;
    gap: 10px;

    button {
        flex: 1;
    }

    &.vertical {
        flex-direction: column;
    }
}

.button {
    padding: 0.3rem 1.4rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3rem;
    background-color: $tertiary;
    cursor: pointer;
    transition: all 200ms;
    user-select: none;
}

.circle-button {
    $btn-radius: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $btn-radius;
    border: none;
    font-weight: 700;
    height: $btn-radius;
    width: $btn-radius;
    transition: all 200ms;
    cursor: pointer;

    &.add-button {
        background-color: $success;
        color: $primary;

        &.floating {
            $btn-radius: 4rem;

            position: fixed;
            bottom: 1.5rem;
            right: 1.5rem;
            height: $btn-radius;
            width: $btn-radius;
            font-size: $btn-radius * 0.6;
            font-weight: 500;
        }
    }
}

.button,
.circle-button {
    &:hover {
        background-color: #3b414533;
    }

    &:active {
        transform: scale(0.98);
    }

    &.full-width {
        width: 100%;
    }

    &.top-border {
        border-top: 2px solid $soft-text;
        border-radius: 0;
    }

    &.small {
        font-size: 0.8rem;
    }

    &.outlined {
        border: 2px solid $soft-text;

        &:hover {
            background-color: $soft-text;
            color: $primary;
            transform: scale(1);
        }
    }

    &.transparent {
        background-color: transparent;
        color: $soft-text;
        padding: 0.5rem;
    }

    &[btn-color="success"].reverse {
        background-color: $success-dark;
        color: $success;
    }
    
    &[btn-color="error"].reverse {
        background-color: $error-dark;
        color: $error;
    }
}

[btn-color="success"] {
    background-color: $success;
    color: $success-dark;
}

[btn-color="error"] {
    background-color: $error;
    color: $soft-text;
}

.close-btn {
    position: sticky;
    height: 1.5rem;
    right: 1rem;
    top: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    width: 100%;
    color: #f5f5f5;
    font-size: 1.2rem;
    text-align: right;
}

.MuiSpeedDial-root {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 3;
}

.MuiButtonBase-root {
    &.MuiFab-root {
        background-color: $cta;
        color: $primary-dark;

        &:hover {
            background-color: lighten($color: $cta, $amount: 20);
        }
    }
}

.MuiButtonBase-root {
    &.cta {
        background-color: $tertiary;

        &:hover {
            background-color: lighten($color: $tertiary, $amount: 3);
        }
    }

}
