.card {
    background: $grad-card;
    box-sizing: border-box;
    border-radius: 0.8rem;
    box-shadow: 0 0 37px $primary-dark;
    overflow: hidden;
    user-select: none;

    &.card-grad {
        background: $grad-card-result;            
        color: $primary;
    }

    &.bot-card {
        background: $grad-card-grey;
        box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.9);
        padding: 1rem;

        .avatar {
            margin-bottom: 1rem;
        }
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-size: 1.3rem;
    }

    .pnl {
        font-size: 2rem;
        color: $tertiary;
        font-weight: bold;
    }

    p {
        color: $soft-text;
        font-size: 0.85rem;
    }
}


a.card.item {
    text-decoration: none;
    color: #f5f5f5;
}

.slot-display {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    column-gap: 0.5rem;
    min-width: 100%;
  
    .modal {
        max-height: 60vh;
    }

    .circle-button {
        margin-left: 0.5rem;
    }

    .circle-button:first-of-type {
        margin-left: auto;
    }

    .title { 
        font-size: 1.5rem;
        display: inline-flex;
        align-items: center;

        a {
            color: $bright-text;
        }
    }

    .tile-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.7rem;
    }

    .tile-content {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .results {
            display: flex;
            align-items: flex-end;
        }

        .title {
            font-weight: bold;
        }
    }

    .tile-footer {
        background-color: $primary-grey;
        border-radius: 0.3rem;
        color: $soft-text;
        display: flex;
        margin-top: 0.6rem;
        width: 100%;
        overflow: hidden;

        p {
            color:  $soft-text;
            font-weight: bold;
        }

        label {
            font-size: x-small;
        }

        .footer-col {
            text-align: right;
            padding: 0.4rem;

            &.align-left {
                text-align: left;
            }

            &.stretch {
                flex: 1;
                text-align: left;
            }

            &.position-side {
                display: flex;
                max-width: 1.7em;

                p {
                    transform-origin: center;
                    transform: rotate(-90deg);
                }
            }
        }
    }
}

