.badge {
    display: inline-block;
    background: #5d6a78;
    padding: 0.3rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 0.3rem;
    margin: 0 0.5rem;

    &[type="running"] {
        background-color: $success;
        color: $primary;
    }

    &[type="paused"] {
        background-color: $warn;
        color: $primary;
    }

    &[type="error"] {
        background-color: $error;
        color: $primary;
    }
}

.pnl,
.roe {
    &[state="profit"] {
        color: $profit;
    }
    
    &[state="loss"] {
        color: $loss;
    }    
}

.avatar {
    $radius: 5rem;

    align-items: center;
    border-radius: $radius;
    background-color: $tertiary;
    color: $primary;
    display: flex;
    font-size: $radius * 0.4;
    height: $radius;
    justify-content: center;
    width: $radius;
}

.thread-blackboard {
    background: $charcoal;
    width: 100%;
    padding: 0.8rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;

    .header {
        width: 100%;
        display: flex;
        align-items: baseline;

        .header-column {
            flex: 1;
        }

        .button {
            font-size: 1.2rem;
            flex: 0;
            padding: 0 0.5rem 0.5rem 0.5rem;
        }
    }
    
    .content-body {
        padding: 0.8rem;
    }

    .block {
        margin-bottom: 1rem;
        border: 2px dashed $soft-text;
        background: transparent;

        &.main-block {
            border-style: solid;
        }

        .toolbar {
            .toolbar-button { 
                background-color: $grey-mid;

                &.selected {
                    background-color: $success;
                }
            }
        }
    }

    .rule {
        background: $pewter-blue;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        color: $primary;

        .header .button {
            color: $primary;
        }
    }
    
    .config {
        background: $primary;
        color: $soft-text;
        margin-bottom: 1rem;
    }

    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }

    .rounded {
        border-radius: 0.4rem;
        overflow: hidden;
    }
}

.toolbar {
    display: flex;

    .toolbar-button {
        border: none;
        flex: 1;
        padding: 0.5rem 1rem;

        &.selected {
            background-color: $success;
        }

        &.color-block {
            background: $charleston-green !important;
            color: $soft-text;
        }

        &.color-rule {
            background: $aquamarine !important;
        }

        &.color-config {
            background: $primary !important;
            color: $soft-text;
        }
    }
}

.MuiBackdrop-root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: $backdrop;
}

.section-header {
    margin-bottom: 10px;

    .title {
        margin: 0;
    }

    .MuiIconButton-root {
        background-color: $primary;
        color: $soft-text;
        transition: all 200ms;
        margin-left: 10px;

        &:hover {
            background-color: lighten($color: $primary, $amount: 10);
        }
    }
}

.bots-widgets {
    .widget {
        max-width: 100%;
    }
}

.results {
    &.stats-cards {
        margin-top: 0;
    }

    .MuiPaper-root {
        padding: 10px;
        min-width: auto;
        box-shadow: none;
        flex: 1;
    }

    .card {
        background: $primary;
        color: $soft-text;
        min-width: 47%;

        @media screen and (min-width: $md) {
            min-width: 33%;
        }

        @media screen and (min-width: $l) {
            min-width: auto;
            flex: 1;
        }

        label,
        p {
            display: inline-block;
            text-align: center;
            width: 100%;
        }

        p {
            font-size: 1.7rem;
        }

        label {
            font-size: 0.9rem;
        }
    }
}
