.form-create-bot {
    .eval-fields {
        .bot-thread {
            display: flex;
            align-items: center;
            min-height: 2.5rem;

            input[type="checkbox"] {
                flex: 0;
                margin-right: 1rem;
            }

            label {
                margin: 0;
            }

            .edit-button {
                margin-left: auto;
            }
        }
    }
}

.steps-form {
    .step-fields {
        width: 96%;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }

    .fields-group {
        display: flex;
        gap: 1rem;
    }
}

.MuiInput-input {
    font-size: 1.1rem;
    border-radius: 0;
}

.MuiInputBase-colorPrimary {
    &::before {
        border-color: $grey-mid;
    }
    
    &::after {
        border-color: $tertiary;
    }

    input {
        color: $soft-text;
    }
}
