.container { 
    width: 96%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.3rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;

    &.item {
        padding: 0;
    }

    .item {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &.columns-2 > .item {
        flex: 49% 0;
        max-width: 49%;

        @media screen and (max-width: 601px) {
            flex: 100% 0;
            max-width: 100%;
        }
    }

    &.columns-3 .item {
        flex: 32% 0;

        @media screen and (max-width: 601px) {
            flex: 100% 0;
        }
    }
}

.grid.columns-4 .item {
    flex: 23% 0;
}

.standard-grid {
    &.master-accounts {
        .item {
            position: relative;
            padding-left: 20px;
            
            .pnl-indicator {
                position: absolute;
                left: 0; 
                top: 0;
                bottom: 0;
                width: 7px;
                background-color: lighten($color: $charcoal, $amount: 15);

                &[pnl-state=profit] {
                    background-color: $profit;
                }

                &[pnl-state=loss] {
                    background-color: $loss;
                }
            }
        }
    }

    .item {
        user-select: none;
        cursor: pointer;
        flex: 1;
    }
}

.content-sidebar {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;

    @media screen and (min-width: $md) {
        flex-direction: row;
        margin-top: 2.5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 4;

        @media screen and (min-width: $md) {
            max-width: 66.66%;
        }
    }

    .sidebar {
        flex: 2;
    }

    .content-wrap {
        width: 100%;
        overflow: visible;
    }
}

.content-fullwidth {
    width: 100%;
}

.no-margin {
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.no-padding {
    padding: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.vertical-flex {
    flex-direction: column;
}

.section-wrap {
    margin-bottom: 2rem;
}

.thread-block-form .section-header{
    margin: 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    column-gap: 0.5em;
    align-items: center;

    .title {
        margin-right: auto;
        display: inline-flex;
        align-items: center;
    }

    .circle-button {
        font-size: 1.4rem;
    }
}

.flex-data {
    display: flex;
    flex-direction: column;
    
    .row {
        display: flex;
        flex: 1;
        column-gap: 0.5rem;
        
        .column {
            flex: 1;
            padding: 0.5rem 0;
            
            &.align-right {
                text-align: right;
            }

            label {
                font-weight: bold;
            }
            
            p {
                font-weight: normal;
            }
        }
    }
}

.logs-list-wrap {
    margin-bottom: 2rem;

    .section-header {
        margin-bottom: 2rem;
    }
}

.signpage-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 15vh;
    
    .form-card {
        width: 100%;

        @media screen and (min-width: $md) {
            width: 50%;
        }

        box-shadow: 0 0 150px #000000AA;

        .wrap-btn-flex {
            margin-top: 2rem;
        }

        .title {
            font-size: 1.5rem;
            text-align: center;
        }

        .Mui-focused {
            color: $soft-text;
        }
    }

    .flex-data {
        .row {
            gap: 2rem;
            margin-top: 0.5rem;

            .column {
                padding: 0;
            }
        }
    }
}
