.modal-backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #ecf1f340;
    backdrop-filter: blur(9.5px);
    z-index: 10000000;
}

.modal {
    position: relative;
    width: 96%;
    max-width: 601px;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 1rem;
    background-color: $secondary-dark;
    border-radius: 1rem;
    box-shadow: 0 0 71px #798687;

    .options-list {
        margin-top: 1rem;

        button {
            border: 0;
            border-bottom: 1px solid $soft-text;
            background: none;
            color: $soft-text;
            text-align: left;
            padding: 1rem 0;
            width: 100%;

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                border-bottom: none;
                padding-bottom: 0;
            }

            .title {
                margin-bottom: 0.3rem;
            }
        }
    }
}

.transparent-backdrop {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-modal {
    color: $soft-text;
    width: 90%;
    height: 90%;
    background-color: #c3dff142;
    border-radius: 6px;
    box-shadow: 0 3px 0 rgb(196 237 255 / 43%);
    overflow-y: auto;
    position: relative;

    .MuiSvgIcon-root {
        color: $soft-text;
    }

    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.6rem 0.5rem 1.5rem;
        border-bottom: 1px solid rgb(196 237 255 / 10%);

        &.solid {
            background-color: $secondary-dark;
            z-index: 10000;
        }
    }

    .modal-body {
        padding: 1rem 1.5rem;
        overflow: hidden;

        .modal-header {
            padding: 1rem 0;
            margin-bottom: 1rem;
        }
    }
}
