.card-slider {
    margin: 0 auto 1rem auto;

    .card {
        padding: 1rem;
        box-shadow: none;
        min-height: 20rem;
    }

    .slick-slide {
        padding: 0;
    }

    .slick-dots {
        li button:before {
            color: $soft-text;
        }
        .slick-active button:before {
            color: $bright-text;
        }
    }
}

.grid-slider {
    margin-top: 1rem;

    .slider-item {
        display: flex;
        flex-wrap: wrap;

        .item {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0.5rem 1rem;

            label {
                text-decoration: underline;
            }

            .value {
                font-size: 2rem;
            }
        }
    }

    .slick-dots {
        li button:before {
            color: $soft-text;
        }
        .slick-active button:before {
            color: $bright-text;
        }
    }
}
