// Colors
$primary: #293B48;
$secondary: #1b282c;
$tertiary: #1ab587;
// Alternative colors
$primary-dark: #181a1c;
$primary-grey: #1d2425;
$primary-grey-light: lighten($color: $primary-grey, $amount: 70);
$primary-bright: #394b52;
$secondary-dark: #233236;
$soft-text: #e3e4e3;
$bright-text: white;
$soft-tertiary: #DDF3C6;
$grey-mid: #96a3a9;
$charcoal: #303E48;
$deep-space: #4e6665;
$copper-red: #cd7764;
$aquamarine: #83d7ac;
$maximum-yellow: #F5F749;
$charleston-green: #262a2a;
$pewter-blue: #94b5bd;
// Basic colors
$black: #111;
$white: #FFF;
// State colors
$success: #51eb92;
$success-dark: #42614f;
$error: #db4949;
$error-light: #ffbfb9;
$error-dark: #893831;
$warn: #ebc856;
$cta: #00fca8;
$warn-dark: #b8a051;
$backdrop: #0000004f;
$backdrop-gradient: linear-gradient(45deg, rgba(34, 41, 48, 0), rgba(56, 121, 102, 0.075), rgba(65, 104, 87, 0.11));
// Profit/Loss
$profit: $success;
$loss: $error;
// Gradients
$grad-card: radial-gradient(78.32% 141.13% at 17.05% 15.91%,#202b2e 0%, #283b3f 100%);
$grad-card-grey: linear-gradient(133.47deg, #366078 7.07%, #304345 96.06%);
$grad-card-result: linear-gradient(133.47deg, #8BC6E8 7.07%, #C5F9C4 96.06%);
$grad-card-result-alt: linear-gradient(133.47deg, #8BE8D7 7.07%, #F4F9C4 96.06%);
// Breakpoints
$xxl: 2560px;
$xl: 1440px;
$l: 1024px;
$md: 768px;
$sm: 425px;
$xs: 375px;
$xxs: 320px;
